<html>
<head>
<title>Mon CV</title>
</head>
<body>
	<p style='font-family: monospace;color: #0000FF;margin-left:30px'>
		<b>
			<font size="22">Curriculum Vitae</font>
			<img src='http://pwet.fr/var/plain/storage/images/media/images/icone_rss/214817-1-fre-FR/icone_rss_large_media.png' width="44" height="44" align="right"/>
		</b>
	</p>

	<table border="1" width="100%">
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Nom</font>
			</td>
			<td width="50%">
				<input type='text' name='Nom' size='50'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Prénom</font>
			</td>
			<td width="50%">
				<input type='text' name='Prénom' size='50'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Date de naissance</font>
			</td>
			<td width="50%">
				<input type='text' name='Naissance' size='50'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Adresse</font>
			</td>
			<td width="50%">
				<input type='text' name='Adresse' size='50'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Téléphone fixe</font>
			</td>
			<td width="50%">
				<input type='text' name='Fixe' size='15'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Téléphone mobile</font>
			</td>
			<td width="50%">
				<input type='text' name='mobile' size='15'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Fax</font>
			</td>
			<td width="50%">
				<input type='text' name='Fixe' size='15'/>
			</td>
		</tr>
		<tr>
			<td width="50%" bgcolor="FFCCCC" valign="left">
				<font size="3" color="0000FF">Email</font>
			</td>
			<td width="50%">
				<input type='text' name='mobile' size='50'/>
			</td>
		</tr>
		<tr>
			<td colspan="2" width="50%" bgcolor ="CCCCCC">
			</td>
		</tr>
		<tr>
			<td width="50%">
				<table border="0">
					<tr>
						<td>
						</td>
					</tr>
					<tr>
						<td>
							<font size="3" color="0000FF">Secteur d'intervention</font>
						</td>
					</tr>
					<tr>
						<td>
						</td>
					</tr>
				</table>
			</td>
			<td width="50%">
				<table border="0">
					<tr>
						<td>
							<input type='text' name='secteur1' size='50'/>
						</td>
					</tr>
					<tr>
						<td>
							<input type='text' name='secteur2' size='50'/>
						</td>
					</tr>
					<tr>
						<td>
							<input type='text' name='secteur3' size='50'/>
						</td>
					</tr>
				</table>
			</td>
		<tr>
		<tr>
			<td>
				<font size="3" color="0000FF">Nbres d'années d'expérience</font>
			</td>
			<td>
				<input type='text' name='nbxp' size='50'/>
			</td>
		</tr>
		<tr>
			<td>
				<font size="3" color="0000FF">Nbres d'années d'expérience en formation</font>
			</td>
			<td>
				<input type='text' name='nbformation' size='50'/>
			</td>
		</tr>
		<tr>
			<td>
				<font size="3" color="0000FF">Niveau d'étude</font>
			</td>
			<td>
			<select name ='niveau'>
				<option>BAC +2</option>
				<option>BAC +3</option>
				<option>BAC +4</option>
			</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor ="CCCCCC">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<font size="3" color="0000FF">Etudes universitaires</font>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table border="1" width="100%">
					<tr>
						<td width="33%" bgcolor ="FFCCCC">
							<font size="3" color="0000FF"><center>Période de ... à ...</center></font>
						</td>
						<td width="33%" bgcolor ="FFCCCC">
							<font size="3" color="0000FF"><center>Etablissements</center></font>
						</td>
						<td width="33%" bgcolor ="FFCCCC">
							<font size="3" color="0000FF"><center>Diplômes obtenus</center></font>
						</td>
					</tr>
					<tr>
						<td width="33%">
							<input type='text' name='etude11' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude12' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude13' size='50'/>
						</td>
					</tr>
						<td width="33%">
							<input type='text' name='etude21' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude22' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude23' size='50'/>
						</td>
					<tr>
						<td width="33%">
							<input type='text' name='etude31' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude32' size='50'/>
						</td>
						<td width="33%">
							<input type='text' name='etude33' size='50'/>
						</td>
					</tr>
					<tr>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="CCCCCC">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<font size="3" color="0000FF">Langues</font>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table border = "1" width="100%">
					<tr>
						<td width="50%">
							<table>
								<tr>
								</tr>
								<tr>
									<td>
										<input type='text' name='lg1' size='50'/>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>				
								</tr>
							</table>
						</td>
						<td width="50%">
							<table>
								<tr>
									<td>
										<input type ='radio' name ='langue1' value ='Excellent' checked="0"/>
										<font size="3" color="0000FF">Excellent</font>
									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue1' value ='Moyen' checked="0"/>
										<font size="3" color="0000FF">Moyen</font>
									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue1' value ='Debutant' checked="0"/>
										<font size="3" color="0000FF">Débutant</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<table>
								<tr>
								</tr>
								<tr>
									<td>
										<input type='text' name='lg3' size='50'/>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>				
								</tr>
							</table>
						</td>
						<td width="50%">
							<table>
								<tr>
									<td>
										<input type ='radio' name ='langue3' value ='Excellent' checked="0"/>
										<font size="3" color="0000FF">Excellent</font>
									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue3' value ='Moyen' checked="0"/>
										<font size="3" color="0000FF">Moyen</font>
									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue3' value ='Debutant' checked="0"/>
										<font size="3" color="0000FF">Débutant</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<table>
								<tr>
								</tr>
								<tr>
									<td>
										<input type='text' name='lg2' size='50'/>
									</td>
								</tr>
								<tr>
									<td>
									</td>
								</tr>
								<tr>
									<td>
									</td>				
								</tr>
							</table>
						</td>
						<td width="50%">
							<table>
								<tr>
									<td>
										<input type ='radio' name ='langue2' value ='Excellent' checked="0"/>
										<font size="3" color="0000FF">Excellent</font>

									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue2' value ='Moyen' checked="0"/>
										<font size="3" color="0000FF">Moyen</font>
									</td>
								</tr>
								<tr>
									<td>
										<input type ='radio' name ='langue2' value ='Debutant' checked="0"/>
										<font size="3" color="0000FF">Débutant</font>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="CCCCCC">
			</td>
		</tr>
	</table>
	<table border ="1" width="100%">
		<tr>
			<td colspan="2">
				<font size="3" color="0000FF">Compétences informatiques</font>
			</td>
		</tr>
		<tr>
			<td width="100%">
				<table>
					<tr>
						<td>
							<input TYPE='checkbox' name ='check1' value ='multi' checked="0"/>
							<font size="3" color="0000FF">Programmation Multimédia</font>
						</td>
						<td>
							<input TYPE='checkbox' name ='check1' value ='log' checked="0"/>
							<font size="3" color="0000FF">Génie logiciel</font>
						</td>
					</tr>
					<tr>
						<td>
							<input TYPE='checkbox' name ='check1' value ='java' checked="0"/>
						</td>
						<td>
							<input TYPE='checkbox' name ='check1' value ='web' checked="0"/>
						</td>
					</tr>
					<tr>
						<td>
							<input TYPE='checkbox' name ='check1' value ='rsx' checked="0"/>
						</td>
						<td>
							<input TYPE='checkbox' name ='check1' value ='secu' checked="0"/>
						</td>
					</tr>
					<tr>
						<td>
							<input TYPE='checkbox' name ='check1' value ='img' checked="0"/>
						</td>
						<td>
							<input TYPE='checkbox' name ='check1' value ='bur' checked="0"/>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
